.Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secondary);
    border-bottom: 1px solid grey;
    div{
        display: flex;
        align-items: center;
        margin: 4px;       
        .MenuButton{
            height: auto;
            width: auto;
            background-color: transparent;
            font-size: 1.8em;
            margin: 10px;
        }
        .Logo{
            height: 48px;
        }
    }
    .ButtonsContainer{
        justify-self: right;
        margin: 4px;
        span{
            margin-right: 18px;
        }
        button{
            margin: 4px;
        }
        .LogInBtn{
            background-color: var(--color-login)
        }
        .SignUpBtn {
            background-color: var(--color-signup)
        }
        .LogOutBtn{
            background-color:var(--color-logout)
        }
    }
}