.Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secondary);
    
    div{
        display: flex;
        align-items: center;
        .MenuButton{
            background-color: transparent;
            font-size: 1.8em;
        }
        .Logo{
            height: 55px;
        }
    }
    .ButtonsContainer{
        justify-self: right;
        margin: 4px;
        span{
            margin-right: 20px;
        }
        .LogInBtn{
            background-color: var(--color-login)
        }
        .SignUpBtn {
            background-color: var(--color-signup)
        }
        .LogOutBtn{
            background-color:var(--color-logout)
        }
    }
}