.Board {
    border: 10px solid rgb(5, 3, 22);
    /* width: 300px; */
    aspect-ratio: 1;
    position: relative;
}

.BoardBackground {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.BoardPieces {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 1;
}