.Sidebar{
    position: absolute;
    width: 100%;
    z-index:2;
    top: 60px;
    height: calc(100% - 60px);
    display: flex;
}

.Sidebar.close{
    display: none;
}

.Sidebar > :first-child{
    height: 100%;
    width: 140px;
    background-color: white;
    border-right: 1px solid black;
}

.Sidebar > :nth-child(2){
    display: block;
    width: calc(100% - 140px);
    height: 100%;
}

.SidebarMenu>li{
    list-style: none;
    width: 100%;
}

.Link{
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 12px 0px;
}

.Link:hover{
    background-color: rgb(226, 226, 226);
    /* border: 2px solid red; */
}

