.SidebarMenu{
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    z-index:2;
    top: 0;
    margin-top: 60px;
    .SidebarContent {
        width: 60%;
        box-shadow: 0 0 4px white;

        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;

        .SidebarHeader{
            border-top-right-radius: 20px;
            padding: 20px 0px;
            background-color: var(--color-secondary);
            text-align: center;
            i{
                font-size: 30px;
                margin-bottom: 10px;
            }
            h1{
                font-size: 20px;
            }
        }
        .SidebarLinks{
            background-color: var(--color-quaternary);
            border-bottom-right-radius: 20px;
            padding: 20px 0;
            li{
                list-style: none;
                width: 100%;

                .Link{
                    display: block;
                    color: inherit;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: center;
                    font-size: 16px;
                    width: 100%;
                    padding: 12px 0px;
                }
                
                .Link:hover{
                    background-color: rgb(71, 71, 71);
                }
            }
 
        }
    }
}

.SidebarMenu.open{
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.4);

    .SidebarContent{
        transition: transform 0.3s ease; 
        transform: translateX(0);
    }
}

.SidebarMenu.close{
    transform: translateX(-100%);

    transition: transform 1ms ease, background-color 0.3s ease;
    transition-delay: 0.3s, 0s;

    .SidebarContent{
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
}