.Moves {
    overflow-y: scroll;
}

.Moves>li{
    background-color: var(--color-quaternary);
    height: 32px;
    margin: 2px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}