.OpCreator{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .TextField{
        width: 100%;
        label{
            width: 120px;
        }
        input{
            background-color: #d4d4d4;
        }
    }

    .ShownPosPicker{
        display: flex;
        width: 100%;
        align-items: center;
        label{
            width: 120px;
            display: block;
            font-weight: bold;
            padding: 6px 10px;
            white-space: nowrap;
            overflow: hidden;   
        }
        .BoardWithTools{
            margin: 10px;
            width: calc(100% - 120px);
        }
    }
    .CreateButton{
        background-color: #4CAF50;
        margin: 10px;
        margin-top: 20px;
        align-self: end;
    }
}