.OpeningItem{
    display: grid;
    grid-template-areas: 
        "board name"
        "board options";
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 2fr 1fr;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    .Board{
        grid-area: board;
        align-self: center;
        margin: 10px 0 10px 10px;
    }
    span{
        grid-area: name;
        align-self: center;
        justify-self: center;
        text-align: center;
        padding: 18px;
        overflow: hidden;
        overflow-wrap: break-word; /* Oculta el contenido que se desborda */
        max-width: 100%;
    }
    .OptionsMenu{
        grid-area: options;
        justify-self: center;
        align-self: start;
        .menu-toggle-btn {
            width: 40px;
            height: 40px;
            color: #fff; /* Color del texto */
            background-color: transparent;
            border: none;
        }
        .menu-items-container{
            .ChangeName>i{
                color: blue;
            }
            .Delete>i{
                color: red;
            }
        }
    }
}

.OpeningItem:hover{
    background-color: rgba(0, 0, 0, 0.274);
}

.Dialog{
    .dialog-body{
        input{
            background-color: whitesmoke;
            color: black
        }
    }

    .dialog-actions{
        button{
            padding: 6px 8px;
            margin-inline: 4px;
        }
    }
}