.SettingsBar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 10px; */
    /* padding: 10px; */
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    /* border: 2px solid red; */
}

.SettingsBar>button {
    margin: 10%;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;    
}

.SettingsBar>button:nth-child(2) {
    grid-column: 4 / 5; /* Ocupa dos columnas */
}

.SettingsBar>button:hover {
    background-color: #0056b3;
}