* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Page>h1{
  padding: 12px 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
}
.Page>h2{
  padding:0 0 10px 20px;
}

.OpeningDetail{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* align-items: center; */
}
.OpeningDetail>p{
  padding: 0 20px 20px 20px;
  text-align: justify;
}

.OpeningDetail>p>span{
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.OpeningDetail>.Board{
  align-self: center;
}

.OpeningDetail>.NavigationButtons{
  align-self: center;
}

.OpeningDetail>.NavigationButtons>button{
  background-color: rgb(227, 227, 226);
  font-size: 20px;
  padding: 0px 12px;
  margin: 6px 10px;
  border-radius: 10px;
  color: blue;
  border: 2px solid rgb(38, 38, 140);
}



/* \Variables globales */
:root {
  --color-primary: rgb(39, 40, 46);
  --color-secondary: rgb(2, 2, 48);
  --color-terciary: rgb(85, 85, 85);
  --color-quaternary: rgb(114, 114, 114);
  --font-size-base: 16px;
}


.textButton{
  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight:600;
  cursor: pointer;
}

.textButton:hover{
  background-color: rgb(163, 161, 161);
}

.App {
  position: relative;
  color: white;
  background-color: var(--color-primary);
  min-height: 100vh;
}
