.TextField{
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    label{
        display: block;
        font-weight: bold;
        padding: 6px 10px;
        white-space: nowrap;
        overflow: hidden;
    }
    input{
        font-size: var(--font-size-base);
        display: block;
        padding: 6px;
        border-radius: 4px;
        margin: 10px;
        overflow: hidden;
        border: 2px solid black;
    }
    .inputWithIcon {
        padding-right: 36px;
    }
    .rigthIcon{
        color: black;
        position: absolute;
        right: 20px;
        font-size: 14px;
    }
    .error{
        border: 2px solid red;
    }
    input:focus{
        border-color: #333fe6;
        outline: none;
    }
    input:disabled{
        opacity: 0.5;
    }
}